body {
  font-family: 'Righteous', cursive;
  color: aliceblue;
  margin: 0px;
  padding: 0px;
  background-image: url(mk.jpg);
  
}
.left{
display: inline-block;
position: absolute;
 left: 0px;
 top: 0px;

}
.left img{
  width: 136px;
  filter: invert(100%);
}
.left img{
  width: 125px;
  filter: invert(93%);
}
.left div{
  line-height:5px;
  font-size: 18px;
  text-align:center;
}

.mid{
  display: block;
  width: 40%;
  margin: 20px auto;
  border: 2px solid white;
  border-radius: 12px;

}
.right{
position: absolute;
right: 34px;
top: 20px;
display: inline-block;
}

.navbar{
  display: inline-block;
}

.navbar li{

  display: inline-block;
  font-size: 15px;
}
.navbar li a{
  color: white;
  text-decoration:none;
  padding: 34px 23px;
}
.navbar li a:hover, .navbar li a.active{
  text-decoration: underline;
  color: rgb(127, 209, 106);
}
.btn{
  margin: 0px 5px;
  background-color: black;
  color: white;
  padding: 4px 14px;
  border:  2px solid white;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;
  font-family: 'Righteous', cursive;
}
.btn:hover{
  background-color: gray ;
}
.container{
  border:2px solid  green;
  margin: 80px 25px;
  padding: 20px 20px;
  width: 35%;
  border-radius: 10px;
  }
  .container h2{
  text-align: center;
  }
  .container h6{
    text-align: right;
    margin: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.form-group input{
  font-family: 'Righteous', cursive;
  text-align: center;
  display: block;
  width: 300px;
  padding: 6px;
  font-size: 14px;
  border: 2px solid black;
  margin: 5px auto;
  border-radius: 14px;
}
.container .btn{
  display: block;
  width: 23%;
  margin: 18px auto;
}
.footer{
position: fixed;
left: 0px;
bottom: 0px;
height: 40px;
width: 100%;
background-color: gray;
color: white;
text-align: center;
}
.body div footer{
  padding: 2px 4px;
}
.icon{
  width: auto;
  height: auto;
  margin: auto;
}
.icon ul{
  margin: 0px;
  padding: opx;
  text-align: center;
}
.icon ul li{
  display: inline-block;
  width: 30px;
  height: 120px;
  margin: 12px 10px;
  
 
  
}
.icon ul li a{
  color: #272727;
  font-size: 20px;
}
.icon ul li a i{
  line-height:50px ;
}